.landlordInfo {
    background-color: #C3B89D !important;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.landlordInfo-content {
    padding-top: 1rem;
    padding-left: 2rem;
}

.landlordInfo-content p {
    margin: 5px;
    display: flex;
    align-items: center;
}

.landlord-icon-email{
    color: white;
}

.landlord-icon-number{
    color: rgb(64, 64, 215);
}

.landlord-icon-video{
    color: rgb(103, 94, 94);
}

.landlord-icon-response{
    color: rgb(37, 162, 23);
    font-weight: 600;
    margin-left: 1rem;
}