.review-review{
    margin-top: 5px;
    padding: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.review-comment{
    margin-right: 5px;
}

.review-date{
    font-size: 0.75rem;
}