@import url("https://fonts.googleapis.com.css?family=Playfair+Display:600|Abel:400|Abhaya+Libre:400|AbeeZee:400,400italic|Coda:400");


.review-page {
    align-items: center;
    background-color: #faf7ef !important;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    width: 100vw;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
    box-sizing: border-box !important;
    overflow: auto;
}


.review-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    width: 100vw;
}

.section-1 {
    margin-top: 20px;
    padding-bottom: 1rem;
    width: 100%;
    height: 25%;
    background-color: #F1EDE3 !important;
    border-radius: 10px;
}

.section-2 {
    margin-top: 40px;
    width: 100%;
    height: 40%;
    background-color: #F1EDE3 !important;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.sub-title {
    color: black;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text-container {
    align-items: center;
    align-self: center; 
    display: flex;
    justify-content: space-around;
    padding-left: 1.5rem;
    padding-top: 1rem;
} 

.review-icon {
    font-size: 3rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem;
}

.review-page-textarea-div{
    padding: 2rem;
    height: 70% !important;
    box-sizing: border-box;
}

.review-page-textarea{
    padding: 0;
    width: 100%;
    height: 100% !important;
    background-color: #F1EDE3;
    border-radius: 10px;
    border: none;
    resize: none;
    outline: none;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.reviews-page-button-div{
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
}

.reviews-page-button {
    background-color: #255849 !important;
}

@media (max-width: 600px) {
    .review-icon {
        font-size: 1rem !important;
        padding: 0.5rem;
    }
    
    .sub-title {
        font-size: 1.5rem;
    }

    .section-2 {
        margin-top: 15px;
        height: 40vh !important;
    }

    .review-page-textarea{
        font-size: 0.8rem;
    }

    .reviews-page-button-div{
        padding-right: 1rem;
    }
}


@media (max-height: 700px) {
    .review-icon {
        font-size: 1rem !important;
        padding: 0.5rem;
    }
    
    .sub-title {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }

    .section-2 {
        margin-top: 15px;
        height: 40vh !important;
    }

    .review-page-textarea{
        font-size: 0.8rem;
    }

    .reviews-page-button-div{
        padding-right: 1rem;
    }
}