.reviews {
    background-color: #C9E4D2 !important;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.reviews-content {
    padding-top: 0.5rem;
    padding-left: 2rem;
}

.reviews-div{
    overflow: auto;
    height: 150px !important;
    margin-bottom: 0.5rem;
}

.reviews-button-div{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.reviews-button {
    position: relative;
    background-color: #255849 !important;
}

.reviews-link{
    text-decoration: none;
}