@import url("https://fonts.googleapis.com.css?family=Playfair+Display:600|Abel:400|Abhaya+Libre:400|AbeeZee:400,400italic|Coda:400");

.screen a { 
    display: contents; 
    text-decoration: none;
}
.container-center-horizontal {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    pointer-events: none;
    width: 100vw;
    background-color: #faf7ef;
}


.comment {
    align-items: center;
    background-color: #faf7ef;
    border: 1px none;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 90vw;
}

.section-1 {
    margin-top: 20px;
    padding-bottom: 1rem;
    width: 100%;
    height: 25%;
    background-color: #F1EDE3;
}

.section-2 {
    width: 100%;
    height: 50%;
    background-color: #F1EDE3;
}

.sub-title {
    color: black;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text-container {
    align-items: center;
    align-self: center; 
    display: flex;
    justify-content: space-around;
    height: 27px;
    margin-right: 70px;
    min-width: 942px;
    padding-left: 1.5rem;
    padding-top: 1rem;
} 


.sharing-your-experience-with-us {
    color:#00000054;
    font-family: var(--font-family-abel); font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 33.6px;
    min-height: 34px;
    white-space: nowrap; 
}

.review-icon {
    font-size: 3rem;
}

.sharing-your-experience-with-us {
color:#00000054;
font-family: var(--font-family-abel);
font-size: var(--font-size-s);
font-weight: 400;
letter-spacing: 0;
line-height: 33.6px;
min-height: 34px;
white-space: nowrap; 
}
/* 
.frame-4 {
align-items: center; display: flex;
height: 106px;
justify-content: space-between;
left: 0;
padding: 32px 48px;
position: absolute;
top: 0;
width: 1251px;
}
.frame-2 {
align-items: flex-start;
display: flex;
gap: 72px;
position: relative;
width: fit-content;
}
.place {
color: var(--plantation);
font-family: var(--font-family-abel);
font-size: var(--font-size-xs);
font-weight: 400;
letter-spacing: 0;
line-height: 24px;
margin-top: -1px;
position: relative;
white-space: nowrap;
width: fit-content; 
}

.frame-1 {
align-items: center; display: flex;
gap: 4px;
position: relative;
width: fit-content;
}

.star-1 {
height: 24px;
min-width: 23.4px;
position: relative;
}

.x210-team4 {

color: var(--plantation);
font-family: var(--font-family-playfair_display);
font-size: var(--font-size-xs);
font-weight: 600;
letter-spacing: 0.48px;
line-height: 24px;
margin-top: -1px;
opacity: 0.1;
position: relative;
white-space: nowrap; 
width: fit-content; 
}



.frame-3 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 118px;
}

    .line-1 {
    height: 2px;
    margin-top: 2px;
    min-width: 40px; position: relative;
    }

.line-2 {
    height: 2px;
    min-width: 24px;
    position: relative;
} */
