.search-Auth-form-container {
    align-items: center;
    background-color: #faf7ef;
    border: 1px none;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }
  
  .Find-home-with-san-diego-safari {

    /* Find Your Home with San Diego Housing Safari */

    position: absolute;
    height: 10%;
    padding-bottom: 0%;

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 50%;
    /* or 77px */

    text-align: center;

    color: #255849;

  }


  .search-forms {
    position: absolute;
    width: 60%;
    height: 10%;
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    align-items: center;
  }

  .location-placeholder {

    position: absolute;
    width: 30%;
    height: 10vh;
    margin-left: 0%;
    margin-top: 0%;

    border-color: rgba(70, 168, 138, 0.36);
    background-color: rgba(70, 168, 138, 0.36);
    border-radius: 20px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33);
  }


  .price-placeholder {

    position: absolute;
    width: 30%;
    height: 10vh;
    margin-left: 0%;
    margin-top: 0%;

    border-color: rgba(70, 168, 138, 0.36);
    background-color: rgba(70, 168, 138, 0.36);
    border-radius: 20px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33);
  }

  /* .price-placeholder {
    position: absolute;
    width: 20%;
    height: 10vh;
    margin-left: 0%;
    margin-top: 0%;
    border: 1px solid #F1EDE3;
    background-color: #F1EDE3;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33); 
  } */
  .movein-placeholder {

    position: absolute;
    width: 40%;
    height: 10vh;
    margin-left: 0%;
    margin-top: 0%;

    border-color: rgba(70, 168, 138, 0.36);
    background-color: rgba(70, 168, 138, 0.36);
    border-radius: 20px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33);
  }

  /* .movein-placeholder {
    position: absolute;
    width: 25%;
    height: 10vh;
    margin-left: 0%;
    margin-top: 0%;
    border: 1px solid #F1EDE3;
    background-color: #F1EDE3;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33); 
  } */

  .search-button {
    position: absolute;
    width: 20%;
    height: 10vh;
    padding-left: 0%;
    padding-top: 0%;
    margin-top: 2%;
    top: 40px; 
    left: 900px;

    background: #255849;
    border-radius: 40px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60%;
    /* identical to box height, or 48px */

    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
  }


.search-grid-container {
    height: 80%;
    margin-top: 2rem !important;
    border-radius: 10px;
    background-color: #faf7ef !important;
}

.search-grid-item-1 {
    padding: 1.5rem !important;
    height: 20%;
    display: flex;
    justify-content: center;
}

.search-grid-item-2 {
    padding: 1.5 rem !important;
    display: flex;
    height: 30%;
}

.search-grid-item-3 {
  padding: 1.5 rem !important;
  height: 30%;
}

.search-grid-item-4 {
    padding: 0rem !important;
    height: 50%;
}