.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 832px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color:#faf7ef;
  }
  
  .Auth-form {
    position: absolute;
    height: 832px;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  
  .Auth-form-content {
    /* padding-left: 12%; */
    /* padding-right: 12%; */
    position: absolute;
    height: 832px;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  
  .Find-home-with-san-diego-safari {

    /* Find Your Home with San Diego Housing Safari */

    position: absolute;
    height: 16.5vh;
    margin-top: 5%;

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    /* or 77px */

    text-align: center;

    color: #255849;

  }


  .search-forms {
    position: absolute;
    width: 80%;
    height: 10vh !important;
    margin-left: 0%;
    margin-top: 15%;
    /* border: 1px solid red; */
  }

  .location-placeholder {

    position: absolute;
    width: 35%;
    height: 10vh !important;
    margin-left: 0%;
    margin-top: 0%;

    border-color: rgba(70, 168, 138, 0.36);
    background-color: rgba(70, 168, 138, 0.36);
    border-radius: 20px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33);
  }

  .price-placeholder {
    position: absolute;
    width: 20%;
    height: 10vh !important;
    margin-left: 0%;
    margin-top: 0%;
    border: 1px solid #F1EDE3;
    background-color: #F1EDE3;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33); 
  }

  .movein-placeholder {
    position: absolute;
    width: 25%;
    height: 10vh !important;
    margin-left: 0%;
    margin-top: 0%;
    border: 1px solid #F1EDE3;
    background-color: #F1EDE3;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding-left: 15px;

    color: rgba(0, 0, 0, 0.33); 
  }

  .search-button {
    position: absolute;
    width: 15%;
    height: 10vh !important;
    margin-left: 90%;
    margin-top: 0%;

    background: #255849;
    border-radius: 40px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */

    text-align: center;

    color: #FFFFFF;
  }

  .search_pic {
    /* position: absolute; */
    margin-left: -20%;
    width: 80%;
    height: 15vh !important;
    margin-top: 25%;
  }