.single-listing-page {
    align-items: center;
    background-color: #faf7ef;
    border: 1px none;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

.grid-container {
    height: 75%;
    margin-top: 2rem !important;
    border-radius: 10px;
    background-color: #F1EDE3 !important;
}


.grid-item-1 {
    padding: 0 !important;
    height: 60%;
}

.grid-item-2 {
    padding: 0 !important;
    height: 60%;
}

.grid-item-3 {
    padding: 1.5rem !important;
    height: 40%;
}

.grid-item-4 {
    padding: 1.5rem !important;
    height: 40%;
}

